<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight Results</title>
</head>
<body>
<h1>Flight Results</h1>
<table>
    <thead>
    <tr>
        <th>Flight Number</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.departureAirport.airportName}"></td>
        <td th:text="${flight.arrivalAirport.airportName}"></td>
        <td th:text="${flight.departureTime}"></td>
        <td th:text="${flight.arrivalTime}"></td>
    </tr>
    </tbody>
</table>
<a href="#" th:href="@{/searchFlights}">Back to Search</a>
</body>
</html>
